{% extends "base.html" %}

{% load socialaccount_tags %}
{% block content %}
    <h2>Registrarse</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>

    <hr>

    <h3>Registrarse con:</h3>
    <div class="social-auth-providers">
        {% providers_media_js %}
        <ul>
            {% for provider in socialaccount.providers %}
                <li>
                    <a href="{% provider_login_url provider.id process="signup" %}">{{ provider.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
